ClientManagement.Backend/ClientManagement.Backend.Logic/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ClientManagement.DbService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientManagement.DbService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessFailedCount" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LockoutEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="LockoutEndDateUtc" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumberConfirmed" type="xs:boolean" />
      <xs:element minOccurs="0" name="SecurityStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TwoFactorEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDAO" nillable="true" type="tns:UserDAO" />
  <xs:complexType name="ArrayOfUserDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDAO" nillable="true" type="tns:UserDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDAO" nillable="true" type="tns:ArrayOfUserDAO" />
  <xs:complexType name="ArrayOfClientDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClientDAO" nillable="true" type="tns:ClientDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientDAO" nillable="true" type="tns:ArrayOfClientDAO" />
  <xs:complexType name="ClientDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="tns:AddressDAO" />
      <xs:element minOccurs="0" name="AddressID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientDAO" nillable="true" type="tns:ClientDAO" />
  <xs:complexType name="AddressDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddressDAO" nillable="true" type="tns:AddressDAO" />
  <xs:complexType name="ArrayOfAddressDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddressDAO" nillable="true" type="tns:AddressDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddressDAO" nillable="true" type="tns:ArrayOfAddressDAO" />
  <xs:complexType name="ServiceTypeDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rate" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceTypeDAO" nillable="true" type="tns:ServiceTypeDAO" />
  <xs:complexType name="ArrayOfServiceTypeDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceTypeDAO" nillable="true" type="tns:ServiceTypeDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceTypeDAO" nillable="true" type="tns:ArrayOfServiceTypeDAO" />
  <xs:complexType name="JobDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" nillable="true" type="tns:ClientDAO" />
      <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      <xs:element minOccurs="0" name="Complete" type="xs:boolean" />
      <xs:element minOccurs="0" name="EstimatedDuration" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Hours" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceType" nillable="true" type="tns:ServiceTypeDAO" />
      <xs:element minOccurs="0" name="ServiceTypeID" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:UserDAO" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobDAO" nillable="true" type="tns:JobDAO" />
  <xs:complexType name="ArrayOfJobDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobDAO" nillable="true" type="tns:JobDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobDAO" nillable="true" type="tns:ArrayOfJobDAO" />
  <xs:complexType name="ArrayOfExpenseDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseDAO" nillable="true" type="tns:ExpenseDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseDAO" nillable="true" type="tns:ArrayOfExpenseDAO" />
  <xs:complexType name="ExpenseDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpenseDAO" nillable="true" type="tns:ExpenseDAO" />
  <xs:complexType name="ArrayOfJobExpenseDAO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JobExpenseDAO" nillable="true" type="tns:JobExpenseDAO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJobExpenseDAO" nillable="true" type="tns:ArrayOfJobExpenseDAO" />
  <xs:complexType name="JobExpenseDAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Expense" nillable="true" type="tns:ExpenseDAO" />
      <xs:element minOccurs="0" name="ExpenseID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Hours" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Job" nillable="true" type="tns:JobDAO" />
      <xs:element minOccurs="0" name="JobID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JobExpenseDAO" nillable="true" type="tns:JobExpenseDAO" />
</xs:schema>